/* this style to remove scroll bar from pagbe when image is made to fit the screen*/
body {
  overflow: hidden;
}
/* Media query for smaller screens as it overflow is causing problem */
@media (max-width: 768px) {
  body{
    overflow: auto;
    scrollbar-width: none;
  }
}

/* Large devices (tablet-landscape, laptop 992px and up) */
@media (min-width: 992px) {
  /* Your styles for medium devices go here */
  .card-img-overlay{
    margin-top: 10%;
  }
}
