/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Your styles for large devices go here */
  .img-fluid{
    width: 400px;
  }
}

/* Landscape mode styles for small screens and medium-scale devices */
@media (max-width: 767.98px) and (orientation: landscape) {
  .col-md-4 {
    /* Styles for the image column in landscape mode */
    /* You can add specific styles for the image column in landscape mode here */
    width: 25%;
  }

  .col-md-8 {
    /* Styles for the text column in landscape mode */
    /* You can add specific styles for the text column in landscape mode here */
    width: 75%;
  }
}

/* Portrait mode styles for medium-scale devices and prttrait mode */
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
  .row{
    margin-top: 25%;
  }
  .col-md-4 {
    /* Styles for the image column in portrait mode */
    /* You can add specific styles for the image column in portrait mode here */
    width: 100;
    margin: auto;
  }
  .img-fluid{
    min-width: 300px;
  }

  .col-md-8 {
    /* Styles for the text column in portrait mode */
    /* You can add specific styles for the text column in portrait mode here */
    width: 100%;
    margin: auto;
  }
}
